Checks: >
  -*,
  cert-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  portability-*

WarningsAsErrors: ''

HeaderFilterRegex: '.*'

AnalyzeTemporaryDtors: false
